html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #fcf9f4;
}

h1,
h2,
h3 {
	padding: 0;
	margin: 0;
}

p {
	all: unset;
	font-size: 26px;
	font-weight: 300;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

a {
	cursor: pointer;
}

/* a:hover {
	text-decoration: underline;
	text-underline-offset: 0.4rem;
} */

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

#video {
	background-color: #8db9d0;
}

#projectList {
	transition: all 0.5s;
}
