:root {
	--main-bg: #fcf9f4;
	--green-color: #bdd9b2;
	--blue-color: #aaddf0;
	--purple-color: #e3ddf3;
	--yellow-color: #f8e4a1;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #fcf9f4;
}

button {
	all: unset;
}

a:focus-visible,
button:focus-visible {
	outline: 3.5px dashed darkorange;
}

#side-nav a:focus-visible {
	background-color: darkorange !important;
}

h1,
h2,
h3,
h4 {
	padding: 0;
	margin: 0;
}

p {
	all: unset;
	font-size: 26px;
	font-weight: 300;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

b {
	all: unset;
}

* {
	box-sizing: border-box;
}

a {
	cursor: pointer;
}

/* a:hover {
	text-decoration: underline;
	text-underline-offset: 0.4rem;
} */

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

.signs {
	border: solid;
	width: 50%;
}

.white {
	color: var(--main-bg);
}

.white a::before {
	content: '';
	display: block;
	position: relative;
	width: auto;
	height: 1.5px;
	top: 1.9rem;
	left: 0;
	background-color: var(--main-bg) !important;
	opacity: 1;
	z-index: 0;
	transform: scaleX(0%);
	transition: all 0.3s ease;
}

.hoverEffect {
	position: relative;
	z-index: 10;
}

.hoverEffect::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--main-bg);
	opacity: 0;
	z-index: -1;
	transform: scaleX(0%);
	transform-origin: left;
	transition: opacity 1s, transform 0.8s ease;
}

.hoverEffect:hover::before {
	position: absolute;
	opacity: 0.75;
	transform: scaleX(100%);
	transform-origin: left;
	transition: transform 0.8s ease;
}

#navSkip {
	position: absolute;
	padding: 0.6em;
	color: #fff;
	transform: translateY(-120%);
	z-index: -1;
	left: 1em;
	top: 0.3em;
	transition: transform 0.3s;
}

#navSkip:focus-visible {
	outline: 5px dashed #ff8c00;
	transform: translateY(0);
	z-index: 100;
	background: #000;
}

#video {
	background-color: #8db9d0;
	z-index: 0;

	animation-name: fadeInVideo;
	animation-duration: 0.6s;
}

@keyframes fadeInVideo {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#project-list {
	transition: all 0.5s;
}

#side-nav {
	height: 15rem;
	width: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	z-index: 10;
}

#side-nav a:hover {
	background-color: #fcf9f4;
}

#side-nav a {
	border: solid;
	border-width: 2px;
	width: 15px;
	height: 15px;

	border-radius: 50%;
	shape-outside: circle();
	clip-path: circle();
}

footer {
	position: relative;
	height: 5rem;
	background-color: black;
	color: white;
}

@media (max-width: 800px) {
	#side-nav {
		display: none;
	}
	.white {
		color: black;
	}
}
