.changing {
  position: relative;
  height: 120px;
  text-align: center;
  border-bottom: 1px solid #030303;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: lighter;
}
/* .changing li are the elements that are revealed when the active class is applied to it. */
.changing li {
  opacity: 0;
}
.active {
  opacity: 1 !important;
}
/* This ::before is used to obscure the text by being the same color as the background to make it appear as if the text is disappearing. */
.changing li::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-bg);
  transform: scaleX(100%);
  transition: transform 0.6s ease-out;
  transform-origin: right;
}

.changing .active::before {
  transform: scaleX(0);
  transition-delay: 0.4s;
}

.changing > * {
  position: absolute;
  width: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transition: opacity 0.6s, transform 1s ease;

  font-size: 38px;
}

.main {
}

.button {
  border: solid;
  /* height: 1rem; */
}

.section {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.section2 {
  position: relative;
  overflow: hidden;
  padding-bottom: 5rem;
}

.splitLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.splitRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.firstText {
  width: 31rem;
  max-width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;

  animation-name: fadeInAnimation;
  animation-duration: 0.5s;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  position: absolute;
  width: min(97%);
  display: flex;
  justify-content: space-between;
  margin-top: 1.4rem;
  margin-inline: auto;
  left: 0;
  right: 0;
  z-index: 10;
  mix-blend-mode: exclusion;
}

.header2 {
  mix-blend-mode: exclusion;
}

.header div {
  min-width: 11rem;
  display: flex;
  justify-content: space-between;
}

.header a {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: lighter;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.header a::before {
  content: '';
  display: block;
  position: relative;
  width: auto;
  height: 1.5px;
  top: 1.9rem;
  left: 0;
  background-color: black;
  opacity: 1;
  z-index: 0;
  transform: scaleX(0%);
  transition: all 0.3s ease;
}

.header a:hover::before {
  transform: scaleX(100%);
  transition: all 0.3s ease;
}

.header span {
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  position: absolute;
  margin-inline: auto;
  width: 16.6rem;
  right: 0;
  left: 0;
}

.antonio {
}

.headerMobile {
  display: none;
}

.sideNavStatic {
  position: absolute;
  left: 1rem;
  top: 360vh;
}

.sideNavStaticBottom {
  position: absolute;
  left: 1rem;
  top: 765.75vh;
}

.projectSection {
  position: relative;
}

.sideNavContainer {
  /* background: red; */
  position: absolute;
  top: 18.5rem;
  bottom: 26rem;
}

.sideNav {
  position: fixed;
  left: 1rem;
  top: 30vh;
}

.activeSideNav {
  background-color: #030303;
}

.aboutMe {
  position: relative;
  width: min(83%);
  margin-top: 7rem;
  margin-inline: auto;
  /* margin-bottom: 6rem; */
}

.aboutMe * {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: lighter;
}
.aboutMe h3 {
  font-size: 2.8rem;
}
.aboutMe h4 {
  font-size: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 1.2rem;
}
.aboutMe p {
  display: block;
  font-size: 1.1rem;
  line-height: 1.9rem;
}

.aboutMeParagraph {
  margin-bottom: 1rem;
}

.aboutMeParagraph2 {
  margin-bottom: 2rem;
}

.aboutText {
  display: none;
}

.collage {
  width: 30.6rem;
  height: 33.8rem;
  position: relative;
  float: left;
  shape-outside: polygon(0px 0px, -6.9% 98.28%, 95% 98.67%, 95% -0.49%);
  margin-right: 3.5rem;
  margin-bottom: 1rem;
}

.illustration {
  border: solid;
  border-width: 2px;
  width: 11rem;
  height: 14rem;
  position: absolute;
  z-index: 0;
  top: 0;
  background-color: var(--yellow-color);
}

.photo {
  border: solid;
  border-width: 2px;
  width: 18rem;
  height: 22rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--green-color);
  z-index: 1;
}

.me {
  border: solid;
  border-width: 2px;
  width: 18.6rem;
  height: 17.8rem;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.ferris {
  border: solid;
  border-width: 2px;
  position: absolute;
  height: 10.5rem;
  width: 10.5rem;
  right: 0;
  bottom: 0;
  filter: contrast(1.4);
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  max-height: 50rem;
  overflow: hidden;
  background-color: var(--green-color);
  /* margin-top: 5rem; */
}
.contactContent {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 30vh; */
  /* max-height: 30vh; */
}

.contactText {
  position: relative;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 5rem;
}
.contactText h3 {
  font-family: aktiv-grotesk-extended, sans-serif;
  font-size: 1.3rem;
}
.contactText h2 {
  font-family: aktiv-grotesk, sans-serif;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.links {
  display: flex;
  width: 62vw;
  justify-content: space-between;
  position: relative;
}
.links div {
  border: solid;
  border-width: 2px;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  shape-outside: circle();
  clip-path: circle();
}
.links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  text-decoration: underline;
  text-underline-offset: 0.6rem;
  text-decoration-thickness: 1.5px;
}
.links p {
  font-family: aktiv-grotesk, sans-serif;
  font-size: 1.3rem;
  margin-top: 2rem;
}

.antonioFooter {
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  position: absolute;
  left: 2rem;
  bottom: 1.5rem;
}
.credits {
  position: absolute;
  width: max-content;
  left: 0;
  right: 0;
  margin-inline: auto;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: lighter;
  font-size: 1.1rem;
  bottom: 2rem;
}
.credits a {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 1px;
  text-decoration-color: #f0ece5;
}
.githubFooter {
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  bottom: 1.7rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 1.2px;
}

.video {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  object-fit: cover;
  z-index: 0;
}

.workExperience {
  background-color: aqua;
}

.mobileNavHidden {
  display: none;
}

.mobileHeaderLine {
  display: none;
}

.profileArea {
  background-color: rgb(255, 231, 196);
  /* padding: 6rem min(15vw, 20rem); */
  padding: 6rem 15vw;
}

.profileArea * {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: lighter;
}

.profileArea h1 {
  font-family: aktiv-grotesk-extended, sans-serif;
}

.profileWindow {
  display: flex;
  flex-direction: column;
  background-color: green;
  border: solid;
}

.windowControls {
  height: 2rem;
}

.windowInside {
  background-color: var(--main-bg);
  padding: 6rem;
  padding-top: 0;
}

.profileContent {
  display: flex;
}

.characterSection {
  background-color: brown;
}

.experienceContent {
  /* background-color: rgb(153, 153, 153); */
  width: min(83%);
  margin-inline: auto;
}

.experienceHeader {
  display: flex;
  justify-content: space-between;
}

.experienceHeader > a {
  position: absolute;
  right: 29.7rem;
  font-size: 1.15rem;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  z-index: 10;
}

.iconWithTextDesktop {
  display: flex;
  align-items: center;
}
.iconWithTextMobile {
  display: none;
}

.SVGcontainer {
  width: 1.75rem;
  display: flex;
  flex-shrink: 0;
  margin-right: 0.5rem;
  margin-top: 0.1rem;
}

.iconTextContainer {
  display: flex;
  align-items: self-start;
  margin-bottom: 0.75rem;
}

/* .experienceHeader > a::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-bg);
  opacity: 0;
  z-index: -1;
  transform: scaleX(0%);
  transform-origin: left;
  transition: opacity 1s, transform 0.5s ease;
}

.experienceHeader > a:hover::before {
  z-index: -2;
  opacity: 0.65;
  transform: scaleX(100%);
  transform-origin: left;
  transition: transform 0.5s ease;
} */

.windowInfo {
  padding: 1rem;
  background-color: lightskyblue;
}

.nameTitleAndButtons {
  padding: 1rem;
  padding-bottom: 0;
}

.profileTitle {
  display: flex;
  gap: 0.8rem;
}

.profileButtons {
  display: flex;
}

.windowAbout {
  background-color: burlywood;
  padding: 1rem;
}

.aboutText {
  display: flex;
  flex-direction: column;
}

.additionalInfo {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1680px) {
  .profileArea {
    padding: 7%;
  }
  .windowInside {
    padding: 2rem;
  }

  .aboutMe {
    position: relative;
    width: min(90%);
    margin-top: 5vh;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: unset;
  }
  .aboutMe > h3 {
    display: none;
  }
  .aboutMe > h4 {
    display: none;
  }
  .aboutMe > p {
    display: none;
  }

  .collage {
    /* border: solid; */
    width: 30.6rem;
    height: 33.8rem;
    position: relative;
    float: unset;
    shape-outside: unset;
    margin: unset;
    margin-right: unset;
    margin-bottom: 2rem;
  }
}

@media (max-width: 942px) {
  .antonioFooter {
    display: none;
  }
  .githubFooter {
    display: none;
  }
}

@media (max-width: 900px) {
  .contact {
    all: unset;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    background-color: var(--green-color);
  }
  .contactText {
    all: unset;
    position: relative;
    text-align: center;
    /* top: 4rem; */
    margin-top: 4rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-weight: lighter;
  }
  .contactText h2 {
    font-family: aktiv-grotesk, sans-serif;
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  .links {
    all: unset;

    /* border: solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 28rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .links div {
    border: solid;
    border-width: 2px;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    shape-outside: circle();
    clip-path: circle();
  }
  .links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    text-decoration-thickness: 1.5px;
  }
  .links p {
    font-family: aktiv-grotesk, sans-serif;
    font-size: 1.3rem;
    margin-top: 1rem;
  }
}

@media (max-width: 800px) {
  .section {
    display: flex;
    min-height: unset;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .splitLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }
  .splitRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }

  .header {
    position: absolute;
    width: min(97%);
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
    margin-inline: auto;
    left: 0;
    right: 0;
  }

  /* .header div {
    min-width: 11rem;
    display: flex;
    justify-content: space-between;
    display: none;
  } */

  .header a {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: lighter;
    font-size: 1.4rem;
  }

  .header span {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    position: absolute;
    margin-inline: auto;
    width: unset;
    right: 0;
    left: 0;
    text-align: center;
  }

  .headerMobile {
    display: unset;
    z-index: 100;
    position: absolute;
    width: 30px;
    right: 1rem;
    top: 1.4rem;
    cursor: pointer;
  }

  .sideNav {
    display: none;
  }

  .navItems {
    display: none !important;
  }

  .firstText {
    margin-top: 4.5rem;
  }

  .mobileNavVisible {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    border: solid;
    border-width: 2px;
    width: 100px;
    background-color: var(--main-bg);

    animation-name: fadeInAnimation;
    animation-duration: 0.5s;
  }
  .mobileNavVisible a {
    padding: 1rem;
  }

  .mobileHeaderLine {
    display: unset;
    position: absolute;
    width: 100%;
    border-bottom: solid;
    border-width: 2px;
    top: 3.85rem;
  }
  .changing {
    border-bottom: unset;
  }

  .profileArea {
    padding: 1rem;
  }

  .experienceContent {
    width: min(92%);
  }

  .experienceHeader {
    flex-direction: column;
  }

  .experienceHeader > a {
    position: absolute;
    right: 29.7rem;
    font-size: 1.15rem;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    z-index: 10;
  }

  .windowInside {
    padding: 0rem;
  }

  .iconWithTextDesktop {
    display: none;
  }
  .iconWithTextMobile {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
}
