.changing {
	position: relative;
	height: 120px;
	text-align: center;
	border-bottom: 1px solid #030303;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: aktiv-grotesk, sans-serif;
	font-weight: lighter;
}
/* .changing li are the elements that are revealed when the active class is applied to it. */
.changing li {
	opacity: 0;
}
.active {
	opacity: 1 !important;
}
/* This ::before is used to obscure the text by being the same color as the background to make it appear as if the text is disappearing. */
.changing li::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--main-bg);
	transform: scaleX(100%);
	transition: transform 0.6s ease-out;
	transform-origin: right;
}

.changing .active::before {
	transform: scaleX(0);
	transition-delay: 0.4s;
}

.changing > * {
	position: absolute;
	width: 100%;
	transform-origin: center;
	transform-style: preserve-3d;
	transition: opacity 0.6s, transform 1s ease;

	font-size: 38px;
}

.main {
}

.section {
	display: flex;
	min-height: 100vh;
	overflow: hidden;
}

.section2 {
	position: relative;
	overflow: hidden;
	padding-bottom: 5rem;
}

.splitLeft {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 5;
}
.splitRight {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.firstText {
	width: 31rem;
	max-width: 90%;
	text-align: center;
	display: flex;
	flex-direction: column;

	animation-name: fadeInAnimation;
	animation-duration: 0.5s;
}

@keyframes fadeInAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.header {
	position: absolute;
	width: min(97%);
	display: flex;
	justify-content: space-between;
	margin-top: 1.4rem;
	margin-inline: auto;
	left: 0;
	right: 0;
	z-index: 10;
}

.header div {
	min-width: 11rem;
	display: flex;
	justify-content: space-between;
}

.header a {
	font-family: aktiv-grotesk, sans-serif;
	font-weight: lighter;
	font-size: 1.4rem;
	cursor: pointer;
	transition: all 0.5s ease;
}

.header a::before {
	content: '';
	display: block;
	position: relative;
	width: auto;
	height: 1.5px;
	top: 1.9rem;
	left: 0;
	background-color: black;
	opacity: 1;
	z-index: 0;
	transform: scaleX(0%);
	transition: all 0.3s ease;
}

.header a:hover::before {
	transform: scaleX(100%);
	transition: all 0.3s ease;
}

.header span {
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.5rem;
	position: absolute;
	margin-inline: auto;
	width: 16.6rem;
	right: 0;
	left: 0;
}

.headerMobile {
	display: none;
}

.sideNavStatic {
	position: absolute;
	left: 1rem;
	top: 128vh;
}

.sideNavStaticBottom {
	position: absolute;
	left: 1rem;
	top: 531vh;
}

.sideNav {
	position: fixed;
	left: 1rem;
	top: 30vh;
}

.activeSideNav {
	background-color: #030303;
}

.aboutMe {
	position: relative;
	width: min(83%);
	margin-top: 7rem;
	margin-inline: auto;
	/* margin-bottom: 6rem; */
}

.aboutMe * {
	font-family: aktiv-grotesk, sans-serif;
	font-weight: lighter;
}
.aboutMe h3 {
	font-size: 2.8rem;
}
.aboutMe h4 {
	font-size: 2rem;
	margin-top: 2.5rem;
	margin-bottom: 1.2rem;
}
.aboutMe p {
	display: block;
	font-size: 1.3rem;
	line-height: 2rem;
	margin: 0.5rem 0.2rem 0;
}

.aboutText {
	display: none;
}

.collage {
	/* border: solid; */
	width: 30.6rem;
	height: 33.8rem;
	position: relative;
	float: left;
	shape-outside: polygon(0px 0px, -6.9% 98.28%, 95% 98.67%, 95% -0.49%);
	margin-right: 5rem;
	margin-bottom: 1rem;
}

.illustration {
	border: solid;
	border-width: 2px;
	width: 10.5rem;
	height: 13.5rem;
	position: absolute;
	z-index: 0;
	top: 0;
	background-color: var(--yellow-color);
}

.photo {
	border: solid;
	border-width: 2px;
	width: 18rem;
	height: 22rem;
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--green-color);
	z-index: 1;
}

.me {
	border: solid;
	border-width: 2px;
	width: 18.6rem;
	height: 17.8rem;
	position: absolute;
	bottom: 0;
	z-index: 0;
}

.signs {
	position: absolute;
	height: 9.4rem;
	width: 9.5rem;
	right: 0;
	bottom: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1.5rem;
	row-gap: 1.4rem;
}
.signs div {
	border: solid;
	border-width: 2px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.signs div svg {
	/* border: solid; */
	width: 70%;
}
.sign1 {
	background-color: var(--yellow-color);
}
.sign2 {
	background-color: var(--green-color);
}
.sign3 {
	background-color: var(--purple-color);
}
.sign4 {
	background-color: var(--blue-color);
}

.contact {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100vh;
	max-height: 50rem;
	overflow: hidden;
	background-color: var(--green-color);
	/* margin-top: 5rem; */
}
.contactContent {
	/* border: solid; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* min-height: 30vh; */
	/* max-height: 30vh; */
}

.contactText {
	position: relative;
	text-align: center;
	font-weight: lighter;
	margin-bottom: 5rem;
}
.contactText h3 {
	font-family: aktiv-grotesk-extended, sans-serif;
	font-size: 1.3rem;
}
.contactText h2 {
	font-family: aktiv-grotesk, sans-serif;
	font-size: 2.5rem;
	margin-top: 1rem;
}

.links {
	display: flex;
	width: 62vw;
	justify-content: space-between;
	position: relative;
}
.links div {
	border: solid;
	border-width: 2px;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;

	shape-outside: circle();
	clip-path: circle();
}
.links a {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 10rem;
	text-decoration: underline;
	text-underline-offset: 0.6rem;
	text-decoration-thickness: 1.5px;
}
.links p {
	font-family: aktiv-grotesk, sans-serif;
	font-size: 1.3rem;
	margin-top: 2rem;
}

.antonioFooter {
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.5rem;
	position: absolute;
	left: 2rem;
	bottom: 1.5rem;
}
.credits {
	position: absolute;
	width: max-content;
	left: 0;
	right: 0;
	margin-inline: auto;
	font-family: aktiv-grotesk, sans-serif;
	font-weight: lighter;
	font-size: 1.1rem;
	bottom: 2rem;
}
.credits a {
	text-decoration: underline;
	text-underline-offset: 0.5rem;
	text-decoration-thickness: 1px;
	text-decoration-color: #f0ece5;
}
.githubFooter {
	position: absolute;
	right: 2rem;
	font-size: 1.5rem;
	bottom: 1.7rem;
	text-decoration: underline;
	text-underline-offset: 0.5rem;
	text-decoration-thickness: 1.2px;
}

.video {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -10;
	object-fit: cover;
	z-index: 0;
}

.mobileNavHidden {
	display: none;
}

@media (max-width: 942px) {
	.aboutMe {
		position: relative;
		width: min(90%);
		margin-top: 5vh;
		margin-inline: auto;
		/* all: unset; */
		display: flex;
		flex-direction: column;
		align-items: center;
		/* margin-top: 5vw; */
		margin-bottom: unset;
	}
	.aboutMe > h3 {
		display: none;
	}
	.aboutMe > h4 {
		display: none;
	}
	.aboutMe > p {
		display: none;
	}

	.aboutText {
		all: unset;
		position: relative;
		margin-top: 5vw;
		margin-bottom: 2rem;
		background-color: #f0ece5;
		padding: 1rem;
	}
	.aboutText p {
		font-size: 1.2rem;
	}

	.collage {
		/* border: solid; */
		width: 30.6rem;
		height: 33.8rem;
		position: relative;
		float: unset;
		shape-outside: unset;
		margin: unset;
		margin-right: unset;
		margin-bottom: unset;
	}
	.antonioFooter {
		display: none;
	}
	.githubFooter {
		display: none;
	}
}

@media (max-width: 900px) {
	.contact {
		all: unset;
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: fit-content;
		background-color: var(--green-color);
	}
	.contactText {
		all: unset;
		position: relative;
		text-align: center;
		/* top: 4rem; */
		margin-top: 4rem;
		left: 0;
		right: 0;
		margin-inline: auto;
		font-weight: lighter;
	}
	.contactText h2 {
		font-family: aktiv-grotesk, sans-serif;
		font-size: 2.5rem;
		margin-top: 1rem;
	}
	.links {
		all: unset;

		/* border: solid; */
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		position: relative;
		height: 28rem;
		margin-top: 2rem;
		margin-bottom: 4rem;
	}
	.links div {
		border: solid;
		border-width: 2px;
		width: 4rem;
		height: 4rem;
		border-radius: 50%;

		shape-outside: circle();
		clip-path: circle();
	}
	.links a {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 10rem;
		text-decoration: underline;
		text-underline-offset: 0.6rem;
		text-decoration-thickness: 1.5px;
	}
	.links p {
		font-family: aktiv-grotesk, sans-serif;
		font-size: 1.3rem;
		margin-top: 1rem;
	}
}

@media (max-width: 800px) {
	.section {
		display: flex;
		min-height: unset;
		overflow: hidden;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.splitLeft {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 50vh;
		height: max(50vh, 300px);
	}
	.splitRight {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 50vh;
		height: max(50vh, 450px);
	}

	.header {
		position: absolute;
		width: min(97%);
		display: flex;
		justify-content: space-between;
		margin-top: 1.4rem;
		margin-inline: auto;
		left: 0;
		right: 0;
	}

	.header div {
		min-width: 11rem;
		display: flex;
		justify-content: space-between;
		display: none;
	}

	.header a {
		font-family: aktiv-grotesk, sans-serif;
		font-weight: lighter;
		font-size: 1.4rem;
	}

	.header span {
		font-family: aktiv-grotesk-extended, sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 1.3rem;
		position: absolute;
		margin-inline: auto;
		width: unset;
		right: 0;
		left: 0;
		text-align: center;
	}

	.headerMobile {
		display: unset;
		z-index: 100;
		position: absolute;
		width: 30px;
		right: 1rem;
		top: 1.4rem;
		cursor: pointer;
	}

	.sideNav {
		display: none;
	}

	.firstText {
		margin-top: 2rem;
	}

	.mobileNavVisible {
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 0;
		border: solid;
		border-width: 2px;
		width: 100px;
		background-color: var(--main-bg);

		animation-name: fadeInAnimation;
		animation-duration: 0.5s;
	}
	.mobileNavVisible a {
		padding: 1rem;
	}
}
